[submodule "themes/relearn"]
	path = themes/relearn
	url = https://github.com/McShelby/hugo-theme-relearn.git
[submodule "roxo-hugo"]
	path = roxo-hugo
	url = https://github.com/StaticMania/roxo-hugo.git
